.navbar{
    height: 80px;
    background-color: rgba(0, 0, 0, 0.798);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo{
    margin-left: 10px;
    font-size: 30px;
}
.navbar a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 18px;
}